#game{
  background: gray;
  perspective: 800px;
  --field-rot-z: 0deg;
  --field-rot-x: 45deg;
  transform: perspective(800px) rotateX(var(--field-rot-x)) rotateZ(var(--field-rot-z,0deg));
  transform-style: preserve-3d;
  
  width: 200px;
  
  animation: 60s rotate-field infinite linear; 
  // transition: transform 1s;
  
    /* antialiasing */
  outline: 1px solid transparent;
}
#game:hover{
  --field-rot-z: 10deg;
}


@property --field-rot-x {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --field-rot-z {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes rotate-field {
  0% {
    --field-rot-z: 0deg;
  }
  10% {
    --field-rot-z: 36deg;
  }
  50% {
    --field-rot-z: 180deg;
  }
  100% {
    --field-rot-z: 360deg;
  }
}